@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

body{
    background: var(--color-primary);
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAirScreem MacBookAirScreem MacBookPro"
    "MacBookAirScreem MacBookAirScreem MacBookPro";
    grid-gap: 8px;
    width: 900px;
    height: 900px;
    margin: 15px auto;
}

.container div{
    background: var(--color-secundary);
    border-radius: 10px;
}

.item__1{
    grid-area: MacBookAir;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item__1 img{
    width: 100%;
    object-fit: contain;
}

.icono{
    height: 6%;
}

.titulo{
    color: var(--color--title);
}

.titulo{
    margin-top: 10%;
    font-size: small;
}

.item__1 strong{
    margin-top: 15px;
}

.price{
    margin-top: 30px;
    width: 60%;
}

.item__1 .price{
    font-size: 14px;
}

.pp{
    font-size: smaller;
    margin-top: 5%;
    color: var(--color-text);
}

.item__2{
    grid-area: MacBookProApp;
}

.item__2 .imagenes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.item__2 .imagenes img{
    width: 80%;
    
}

.texto{
    display: flex;
    width: 30%;
    height: 20%;
    bottom: -40px;
    left: 20px;
    flex-direction: column;
    gap: 15%;
    font-size: large;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}

.texto p{
    font-size: x-large;
}

.item__3{
    grid-area: MacBookAirScreem;
}

.item__3 img{
    width: 90%;
    height: 75%;
    object-fit: contain;
    margin-bottom: 5px;
    position: relative;
    left: 5%;
}

.texto_item__3{
    display: flex;
    width: 80%;
    height: 25%;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    gap: 10px;
}

.texto_item__3 p{
    font-size: x-large;
    font-weight: bold;
}

.item__4{
    grid-area: MacBookPro;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item__4 .price{
    font-size: 14px;
}

.item__4 img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin-bottom: 5px;
}

.item__4 .icono2{
    height: 6%;
}

@media(width < 800px){
    .container{
        width: 100%;
        height: 100vh;
        grid-template-areas: 
        "MacBookAir MacBookAir MacBookAir"
        "MacBookProApp MacBookProApp MacBookProApp"
        "MacBookAirScreem MacBookAirScreem MacBookAirScreem"
        "MacBookPro MacBookPro MacBookPro";
        
    }
    .item__2 .texto{
        width: 30%;
        background: transparent;
    }
    .item__2 .texto p{
        font-size: 90%;
    }
    .item__2 .texto h5{
        font-size: 60%;
    }
    .item__2 .imagenes img{
        width: 70%;
        object-fit: contain;
    }
}