@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

body{
    background: var(--color-primary);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAirScreem MacBookAirScreem MacBookPro"
    "MacBookAirScreem MacBookAirScreem MacBookPro";
    grid-gap: 8px;
    width: 800px;
    height: 700px;
    margin: 15px auto;
}

.container div{
    background: var(--color-secundary);
    border-radius: 10px;
}

.item__1{
    grid-area: MacBookAir;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item__1 img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 5px;
}

.item__1 p{
    color: var(--color--title);
}

.price{
    font-size: 1.1rem;
    text-align: center;
}

.item__2{
    grid-area: MacBookProApp;
}

.item__2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* .texto{
    display: flex;
    border: solid red;
    width: 25%;
    height: 20%;
    position: relative;
    bottom: -40px;
    left: 20px;
    flex-direction: column;
     
} */

.item__3{
    grid-area: MacBookAirScreem;
}

.item__3 img{
    width: 100%;
    height: 75%;
    object-fit: contain;
    margin-bottom: 5px;
}

.texto_item__3{
    display: flex;
    width: 80%;
    height: 25%;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    gap: 10px;
}

.texto_item__3 p{
    font-size: x-large;
    font-weight: bold;
}

.item__4{
    grid-area: MacBookPro;
}

.item__4 img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin-bottom: 5px;
}

.item__4 p{
    color: var(--color--title);
}

.price{
    font-size: 1.1rem;
    text-align: center;
}

.texto_item__4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(width < 800px){
    .container{
        width: 100%;
        grid-template-areas: 
        "MacBookAir MacBookAir MacBookAir"
        "MacBookProApp MacBookProApp MacBookProApp"
        "MacBookAirScreem MacBookAirScreem MacBookAir"
        "MacBookPro MacBookPro MacBookPro";
    }
}